.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
}

.stat-card {
 width: 180px;
  padding: 0.8rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.05); 
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  color: white; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.count {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
}

.desc {
  font-size: 1rem;
  color: #666;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotating {
  animation: rotate 1.2s linear infinite;
}

.icon-who {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #444;
}
