@import url('https://fonts.googleapis.com/css2?family=DIN+Neuzeit+Grotesk:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root {
  font-family: 'DIN Neuzeit Grotesk', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0 1rem; /* default for mobile */
}



@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
